body{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(121, 139, 39);

}
.Btn{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 70px;
    border: none;
    background-color: rgb(135, 127, 247);
    margin: 20px 5px;
    cursor: pointer;
}
.Btn:active{
    background-color: rgb(168, 162, 241);
}
#title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.747);
    margin: 20px;
}
#option{
    font-weight: bolder;
    font-size: 100px;
    margin-bottom: 0px;
}
#result{
    font-size: 4rem;
    margin-top: 5px;
    font-family: Arial;
    color: red;
    margin-top: 15px;
}
#PLAYER{
    margin: 0px 0px;
}
#Computer{
    margin: 0px 0px;
}

#ComScore{
    margin-top: 0px 0px;
}
#PlyScore{
    margin-top: 0px 0px;
}
#begin{
    font-size: 100px;
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 220px;
    padding: 20px 40px;
    border-radius: 30px;
    border-width: 5px;
    box-shadow: -10px 10px 10px rgb(255, 0, 98);
    background-color: pink;
    color: rgb(151, 57, 104);
    font-family: fantasy;
    text-shadow: 0px 0px 10px;
    cursor: pointer;
    animation-name: zoomin;
    animation-duration: 10s;
    
}
#begin:active{
    background-color: rgb(238, 143, 191);
    animation-name: zoomin;
    animation-duration: 5s;
}

#Finalresult{
    font-family: cursive;
    color: white;
}
@keyframes zoomin {
    
    from{opacity: -3;}
    to{opacity: 1;}
}